# ignore ALL .log files
*.log

# ignore folder
Crawler/output/*.json

indexing_and_search/output/*.json

# ignore node modules anywhere in the project
node_modules/

__pycache__/

sample.txt


notebooks/Bert/uncased_L-12_H-768_A-12
